.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.shimmer-card {
    width: 230px;
    height: 200px;
    background: rgb(246, 245, 245);
    margin: 20px;
}
.menu {
    display: flex;
}